<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.8">
	<title> Blog House | <%= title %></title>
</head>
<body>

    <% const name= 'maria' %>

	<nav>
		<div class="site-title">
            <h2> <a href="/"> Blog House </a></h2>
            <p> A blog website</p>
            <%= name %>
            <%= name %>
            <%= color %>
            <%= articles[0].title %>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>All blogs</h2>
        
            <% for(var i=0; i<articles.length; i++){ %>
                <h1><%= articles[i].title %></h1>
                <h3><%= articles[i].author %></h3>
                <h4><%= articles[i].date %></h4>
            <% } %>
            
    </div>
    
	
</body>
</html>