<html lang="en">
<%- include('./partials/header.ejs') %>
<body>

    <% const name= 'maria' %>

	<%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All blogs</h2>
        
            <% for(var i=0; i<articles.length; i++){ %>
                <h1><%= articles[i].title %></h1>
                <h3><%= articles[i].author %></h3>
                <h4><%= articles[i].date %></h4>
            <% } %>
            
    </div>
    <%- include('./partials/footer.ejs') %>
	
</body>
</html>