<html lang="en">
<%- include('./partials/header.ejs') %>
<body>

    <% const name= 'maria' %>

	<%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All blogs</h2>
        
            <% for(var i=0; i<blogs.length; i++){ %>
                <a class="single" href="/blogs/<%= blogs[i]._id %>" > 
                    <h1><%= blogs[i].title %></h1>
                    <h3><%= blogs[i].snippet %></h3>
                  
                </a>
                
            <% } %>
            
    </div>
    <%- include('./partials/footer.ejs') %>
	
</body>
</html>